version: 2.1

# -------------------------------------------------------------------------------------------------
# ORBS
# -------------------------------------------------------------------------------------------------

orbs:
  frontend: ornikar/frontend-orb@dev:cda16f1

# -------------------------------------------------------------------------------------------------
# WORKFLOWS
# -------------------------------------------------------------------------------------------------

workflows:
  main-workflow:
    jobs:
      - frontend/dependencies:
          name: dependencies
          context: npm-gcp
          is-monorepo: true

      - frontend/checks:
          name: checks
          check-package-script-path: 'scripts/check-packagejson.mjs'
          requires:
            - dependencies

      - frontend/lint-src:
          name: lint
          run-tsc: false
          requires:
            - dependencies

      # prerelease
      - hold-prerelease:
          type: approval
          filters:
            branches:
              ignore: main

      - frontend/monorepo-release:
          name: prerelease
          context: npm-gcp
          npm-publish: true
          no-private: true
          branch-release: true
          exact: true
          requires:
            - dependencies
            - checks
            - lint
            - hold-prerelease
          filters:
            branches:
              ignore: main

      # release
      - hold-release:
          type: approval
          filters:
            branches:
              only: main

      - frontend/monorepo-release:
          context: npm-gcp
          npm-publish: true
          no-private: true
          exact: true
          requires:
            - dependencies
            - checks
            - lint
            - hold-release
          filters:
            branches:
              only: main
